body {
	margin: 0px;
	padding: 0px;
	position: relative;
}

h2 {
	font-size: 16px;
	width: 380px;
	padding: 10px;
	margin: 0px;
	background: #000;
	color: #fff;
}

h2 span.hide {
	font-size: 14px;
	float: right;
	cursor: pointer;
}

#menu {
	position: fixed;
	right: 0px;
	top: 0px;
	background: #fff;
	border: 1px solid #000;
	width: 400px;
	font-family: arial, sans-serif;
}

#menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menu li {
	margin: 0px;
	cursor: pointer;
	border-bottom: 1px dotted #000;
}

#menu li p {
	padding: 10px;
	margin: 0px;
}

#menu .checkbox-container {
	float: left;
	margin-right: 10px;
	padding: 10px;
	border-right: 1px dotted #ccc;
}

button {
	padding: 10px;
	margin: 10px 0px 10px 10px;
}

#svg-flowchart {
	width: 1918px;
	height: 1972px;
	padding-right: 400px;
}